/* File CSS */

/* File utilizzato per modificare la visualizzazione del notebook. */

<style>

@font-face {
    font-family: "Computer Modern";
    src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}

/* Utilizzato per creare un box colorato. */
#colorbox {
    background-color: #000;
    padding: 10px;
    border: 1px solid green;
    margin-top: 10px;
}

#immagine {
    margin-top: 10px;
}

/* Main background. */
#notebook_panel {
    background: rgb(245, 245, 245);
}

/* Utilizzato per impostare la larghezza delle celle. */
div.cell {
    width: 800px;
}

/* Utilizzato per centrare il materiale del notebook. */
div #notebook {
    background: #fff;
    width: 1000px;
    margin: auto;
    padding-left: 0em;
}

/* Utilizzato per modificare lo spazio tra gli elementi di una lista. */
#notebook li {
    margin-top: 0.5em;
}

/* Utilizzato per disegnare un bordo attorno alle celle in esecuzione. */
div.cell.border-box-sizing.code_cell.running {
    border: 1px solid #111;
}

/* Utilizzato per creare un box intorno alle celle e agli outputs per collegarli visivamente. */
div.cell.code_cell {
    background-color: rgb(256, 256, 256);
    border-radius: 0px;
    padding: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
}

/* Utilizzato per modificare la visualizzazione delle celle di testo */
div.text_cell_render {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 140%;
    font-size: 110%;
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}

/* Utilizzato per modificare le intestazioni. */

.text_cell_render h1 {
    font-family: "Merriweather", serif;
    font-style: regular;
    font-weight: bold;
    font-size: 250%;
    line-height: 100%;
    color: #004065;
    margin-bottom: 1em;
    margin-top: 0.5em;
    display: block;
}

.text_cell_render h2 {
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 180%;
    line-height: 100%;
    color: #0096d6;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: block;
}

.text_cell_render h3 {
    font-family: "Merriweather", serif;
	font-size: 150%;
    margin-top: 12px;
    margin-bottom: 3px;
    font-style: regular;
    color: #008367;
}

/* Da utilizzare per le didascalie. */
.text_cell_render h4 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 100%;
    line-height: 120%;
    text-align: left;
    width: 500px;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 80pt;
    font-style: regular;
}

/* Da utilizzare per i titoli più piccoli. */
.text_cell_render h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: regular;
    font-size: 130%;
    color: #e31937;
    font-style: italic;
    margin-bottom: .5em;
    margin-top: 1em;
    display: block;
}

/* Da utilizzare per le note, ad esempio i copyright. */
.text_cell_render h6 {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 300;
    font-size: 9pt;
    line-height: 100%;
    color: grey;
    margin-bottom: 1px;
    margin-top: 1px;
}

.CodeMirror {
    font-family: "Source Code Pro";
	font-size: 90%;
}

/*

.prompt {
    display: None;
}

*/

.warning {
    color: rgb(240, 20, 20)
}

</style>